<!DOCTYPE>
<html >
<head>
<meta name="viewport" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>转盘抽奖</title>

<script type="text/javascript" src="../public/javascripts/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="../public/javascripts/jQueryRotate.2.2.js"></script>
<script type="text/javascript" src="../public/javascripts/script.js"></script>
<script src="/socket.io/socket.io.js"></script>
<style type="text/css">
body{background:url(../public/images/bg.png) 0 0 repeat;}

.rotate-con-pan{background:url(../public/images/disk.jpg) no-repeat 0 0;background-size:100% 100%;position:absolute;
    left:50%; top:50%;
    margin-left: -240px;
    margin-top: -240px;
    width:480px;height:480px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;
    
}
.rotate-con-zhen{width:112px;height:224px;background:url(../public/images/start.png) no-repeat 0 0;background-size:100% 100%;
    cursor:pointer;position:absolute;left:180px;top:140px;}
</style>

</head>

<body>


<div class="rotate-con-pan">
    <div class="rotate-con-zhen"></div>
</div>

<input type="button" id="btn" value="点我"/>

<script type="text/javascript">
    $(function(){
        var socket = io.connect('/myroom');
        var arr = location.search.split('&');
        var name = arr[0].substr(6);
        var depart = arr[1].substr(7);
        console.log(arr,name,depart)
        socket.on('connect',function(){
            console.log(name,depart)
            socket.send({name:name,depart:depart})

        });
        $('#btn').click(function(){
//            socket.emit('message',{ name: '刘金宇11', depart: '技术科11' })
        })
        socket.on('message', function (msg) {
            console.log(msg)

        })


        $(".rotate-con-zhen").rotate({
            bind:{
                click:function(){
                    var a = runzp();
                    $(this).rotate({
                        duration:3000,               //转动时间
                        angle: 0,                    //起始角度
                        animateTo:1440+a.angle,      //结束的角度
                        easing: $.easing.easeOutSine,//动画效果，需加载jquery.easing.min.js
                        callback: function(){
                            alert(a.prize+a.message);//简单的弹出获奖信息

                            var req = new XMLHttpRequest();
                            if(!('withCredentials' in req)){
                                req = new XDomainRequest();
                            }
                            req.open('POST',"http://localhost:3000/getdata");

                            //req.setRequestHeader('Content-Type','text/plain')
                            req.onreadystatechange = function(){
                                if(req.readyState == 4 && req.status == 200){
//            var tt = req.getResponseHeader("Content-Type")
                                    alert(req.responseText);
                                }
                            }
                            req.send('{"name":"liujinyu"}')
                        }
                    });
                }
            }
        });


    });
</script>

</body>
</html>